@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swa');

body {
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    color: #F9FAD8;
    text-decoration: none;
}

.logo {
    font-size: 24px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style: none;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 4rem;
}

.section-hero {
    background-color: #1F2937;
    padding: 4.8rem 6rem 9.6rem 6rem;
}

.hero {
    width: 95%;
    padding: 0 1.4rem;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 9.6rem;
}

.hero-text-box {
    width: 85%;
}

.hero-heading {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 4.8rem;
}

.hero-button {
    display: inline-block;
    border-radius: 0.7rem;
    border: none;
    background: #3882f6;
    color: white;
    font-family: inherit;
    text-align: center;
    font-size: 1.4rem;
    width: 14rem;
    padding: 1rem 2rem;
    cursor: pointer;
}

.hero-image {
    width: 100%;
}

.info-section {
    width: 100%;
    height: auto;
    background-color: white;
    color: #1F2937;
    margin: 2rem 0 0 0;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 5rem;
}

.header-line {
    width: 12%;
    height: 0.4rem;
    background-color: #1F2937;
    margin: 2rem auto;
}

.info-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.info-boxes figcaption {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    line-height: 2rem;
    margin: 1rem 0;
    width: 12em;
    padding: 1.2rem 0;
}

.info-item {
    padding: 1.2rem 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8em;
    height: 20em;
}

.quote-section {
    width: 100%;
    height: 35rem;
    background-color: #e5e7eb;
    padding: 2rem 0;
    margin: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.quotation-mark {
    position: absolute;
    width: 10rem;
    height: 10rem;
    top: 2rem;
    left: 5rem;
    color: #e5e7eb;
    opacity: 0.05;
}

.quote-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
}

.quote-section blockquote {
    width: 50%;
    margin: auto;
}

.quote-section figcaption {
    text-align: end;
    font-style: normal;
}

.author-container {
    margin-top: 2rem;
}

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 16px;
}